.header {

  .logo{
    margin-left: 170px;
    margin-right: 130px;
    text-align: start;
    font-size: xx-large;
    display: inline-block;
    width: 50px;
    height:35x;
    color: aquamarine;
  }

  .navbar{
    a { text-decoration: none;
      text-transform: capitalize; };
    padding: 2px;
    display:inline-block;
    text-align: right;

    width: 100px;
    height: 5px;
    color: rgb(255, 255, 255);
    font-family:cursive;

    }
    .button{
      margin-left: 90px;
      display: inline-block;
      text-align: right;

    }

  position: fixed;
  display:inline ;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 10px;
  background: #ffffff;
  color: rgb(19, 2, 2);

}
