            <h1 class="left">
             <div class="img1"> <img src="https://www.capitalnumbers.com/images/common/s-f-girl-big.png"></div>
             <div class="img2"> <img src="https://www.capitalnumbers.com/images/common/slice-1.png"></div>
              <div class="col-lg-10">Software Development Outsourcing Services</div></h1>

              <span class="right">
                 <h1><span class="green" >Hire In-demand Skills,
                     <span class="green">On-demand.</span><br>
                     </span>
                     Web<span class="light-blue-color">.</span>
                   <br>
                     Software<span class="light-blue-color">.</span>
                   <br>
                      Mobile<span class="light-blue-color">.</span>
                    <br>
                      DevOps<span class="light-blue-color">.</span>
                    <br>
                      Blockchain<span class="light-blue-color">.</span>
                </h1>
              <div class="button"><button mat-raised-button color="warn"routerLink="../user/{{button}}" routerLinkActive="active" (click)="openModal()">BOOK A CALL</button></div>
            </span>


