<div class="modal1">
<div class="modal-header">
  <h4 class="modal-title">Book A Call</h4>
</div>
<div class="modal-body">
  <p>Enter the details below:-</p>
</div>
<p class="form">
  <mat-form-field appearance="standard">

    <input matInput placeholder="Name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">

    <input matInput placeholder="Email">
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">

    <input matInput placeholder="Phone Number">
  </mat-form-field>
</p>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>
</div>

